<% @page_title = "友達の詳細" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "編集", [:edit, @friend] %></div>

<table class="attr">
  <tr>
    <th>ユーザー名</th>
    <td><%= @friend.name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @telephone.number %></td>
  </tr>
  <tr>
    <th>携帯番号</th>
    <td><%= @telephone.cellphone? ? "○" : "－" %></td>
  </tr>
</table>
